<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>
    </div>

    <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.52906325203!2d80.15367241482367!3d13.128993090752761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5263ce30c1aded%3A0xb73ad5e084920af!2sThe%20SkyView%20Rooftop%20Multicuisine%20Restaurant!5e0!3m2!1sen!2sin!4v1683696253349!5m2!1sen!2sin"
            frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container" data-aos="fade-up">

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>No.22, 3rd Floor, Ambattur Red Hills Rd, Ambattur, Chennai, Tamil Nadu 600053</p>
                    </div>

                    <div class="open-hours">
                        <i class="bi bi-clock"></i>
                        <h4>Open Hours:</h4>
                        <p>
                            Monday<br>
                            06:30 PM - 12.00 AM
                        </p>
                        <p>
                            Tuesday-Sunday<br>
                            12:00 PM - 03.00 PM<br>
                            06:00 PM - 12.00 AM
                        </p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+91 9710715879</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form role="form" class="svrt-email-form">
                    <div class="row">
                        <div class="col-md-6">
                            <svrt-input [type]="'text'" [name]="'Your Name'" [id]="'YourName'"
                                [placeholder]="'Your Name'">
                            </svrt-input>
                        </div>
                        <div class="col-md-6 mt-3 mt-md-0">
                            <svrt-input type="email" name="email" id="email" placeholder="Your Email" [required]="true">
                            </svrt-input>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <svrt-input type="text" name="subject" id="subject" placeholder="Subject"
                            [required]="true"></svrt-input>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="8" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->