<!-- <div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-center justify-content-md-between">

    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-phone d-flex align-items-center">
        <span>+91 9710 158 79</span>
      </i>
      <i class="bi bi-clock d-flex align-items-center ms-4">
        <span> Mon: 6.30 - 12PM </span>
        <i class="bi bi-clock d-flex align-items-center ms-4">
          <span> Tue-Sun: 12PM - 3PM &nbsp;6PM - 12PM</span>
        </i>
      </i>
    </div>

    <div class="languages d-none d-md-flex align-items-center">
      <ul>

      </ul>
    </div>
  </div>
</div> -->
<header>
  <svrt-navbar></svrt-navbar>
</header>
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <h1>Welcome to <span>SkyView RoofTop Multicuisine Restaurant</span></h1>
        <!-- <h2>Delivering great food for more than 18 years!</h2> -->
        <div class="btns">
          <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
          <a href="#book-a-table" *ngIf="mobile" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a>

        </div>
      </div>
      <!-- <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in"
        data-aos-delay="200">
        <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
      </div> -->
    </div>
  </div>
</section>
<!-- End Hero -->
<div>
  <app-about-us></app-about-us>
</div>
<div>
  <app-menu></app-menu>
</div>
<div>
  <app-events></app-events>
</div>
<div>
  <!-- <app-chefs></app-chefs> -->
</div>
<div>
  <app-gallery></app-gallery>
</div>
<div>
  <app-book-a-table></app-book-a-table>
</div>
<div>
  <app-contact-us></app-contact-us>
</div>
<footer>
  <svrt-footer></svrt-footer>
</footer>